# Игнорировать локальные переменные окружения
.env

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы виртуального окружения (если ты его создал внутри папки проекта)
venv/
.venv/
env/